body {
    margin: 0; 
    background: rgb(248,248,252);
    background: linear-gradient(90deg, rgba(248,248,252,1) 0%, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 100%);
}

#start-btn {
    background-color: black;
    color: lightgray;
    padding: 16px;
    font-size: 16px;
    margin-top: 35px;
    border-radius: 6px;
    margin-left: 50px;
    font-family: 'Luckiest Guy', cursive;
}

#restart-btn {
  background-color: black;
  color: lightgray;
  padding: 16px;
  font-size: 16px;
  margin-top: 35px;
  border-radius: 6px;
  margin-left: 50px;
  font-family: 'Luckiest Guy', cursive;
}
#volumen{
  font-family: 'Luckiest Guy', cursive;
  background-color: black;
  color: lightgray;
  padding: 10px;
  font-size: 16px;
  margin-top: 35px;
  border-radius: 6px;
  margin-left: 50px;
  position: relative;

  top: 50px;
  left: 248px;

}

#score {
  color: black;
  padding: 0px;
  font-size: 18px;

  border-radius: 6px;
  margin-left: 20px;
  font-family: 'Luckiest Guy', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
  }

  #game-box {
    background-color: rgb(78, 72, 72);
    width:600px;
    height:400px;
  
    
    overflow: hidden;
    user-select: none; 
    position: relative;
  
    background-image: url(./images/fondo_raccooner.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px  white ;
  
  }

  #instructions {
    display: none;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin: 20px;
    font-family: 'Luckiest Guy', cursive;
    line-height : 25px;
    
  }
  
  #game-screen, #gameover-screen, #win-screen {
    display: none;
  }
  